@import "../../styles/mixins";

.wrapper {
  margin: 1rem 0;
  text-transform: capitalize;
}

.button {
  @include coloredContainer($backgroundColor: #0074d9);
  margin-top: 1rem;
  border-radius: 1.875rem;
}

.label {
  font-size: 1rem;
  color: #fff;
}
