.hero {
  min-height: 100vh;
  background-size: cover;
  position: relative;
}

// max width so it's not downloaded in other devices
@media (max-width: 767px) {
  .hero {
    background-image: url("../../assets/images/heroMobile.jpg");
  }
  // browser support for gap is very similar to webp
  @supports (gap: 1px) {
    .hero {
      background-image: url("../../assets/images/heroMobile.webp");
    }
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: url("../../assets/images/hero.jpg");
  }
  // browser support for gap is very similar to webp
  @supports (gap: 1px) {
    .hero {
      background-image: url("../../assets/images/hero.webp");
    }
  }
}

@media (min-width: 1200px) {
}
