@import "variables";

@mixin container($padding: 0 1rem, $paddingDesktop: 0 2rem) {
  padding: $padding;
  @media (min-width: 1200px) {
    padding: $paddingDesktop;
  }
}

@mixin section($padding: 5.625rem 1rem 7.8125rem 1rem) {
  padding: $padding;
}

@mixin coloredContainer(
  $padding: 0.75rem 1.25rem,
  $backgroundColor: $primaryFaded
) {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: $padding;
  border-radius: 0.5rem;
  // primary faded comes from _variables.scss
  background: $backgroundColor;
}
