@import "../../styles/mixins";

.description {
  display: none;
  &.show {
    display: inline;
  }
}

.color-container {
  @include coloredContainer();
}

@media (min-width: 1024px) {
  .description {
    display: inline;
  }
  .color-container {
    height: fit-content;
  }
}
