@import "../../styles/variables";
@import "../../styles/mixins";

nav {
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.container {
  @include container($padding: 0 1rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.875rem;
  margin: 0 auto;
}

.logo {
  img {
    height: 2.125rem;
  }
}

.link {
  position: relative;
}

.counter {
  position: absolute;
  top: -0.625rem;
  left: 0.625rem;
}

.icons {
  display: flex;
  gap: 1rem;
  flex-shrink: 0;
}

.description {
  display: none;
}

@media (min-width: 768px) {
  .link {
    @include coloredContainer();
  }

  .container {
    justify-content: unset;
  }
  .icons {
    order: 2;
    margin-left: auto;
  }
  .logo {
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid #e5e5e5;
    padding-right: 4rem;
  }
}

@media (min-width: 768px) {
  .counter {
    top: -0.125rem;
    left: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .description {
    display: inline;
  }
  .counter {
    left: 6.75rem;
  }
}

@media (min-width: 1200px) {
  .logo {
  }
}
