.sidebar {
  display: none;
  &.open {
    display: block;
    position: absolute;
    //padding-top: 6.9375rem;
    padding-top: 1rem;
    padding-left: 2rem;
    top: 0rem;
    right: 0rem;
    height: 100%;
    width: 80%;
    background: white;
    z-index: 1;
    border-left: 1px solid #d5d5d5;
  }
}

.title {
  font-size: 1.25rem;
  text-transform: uppercase;
  // using this to compensate for the padding-left on .sidebar, so the border-bottom has spacing on both sides
  padding-bottom: 0.5rem;
  margin-right: 2rem;
  border-bottom: 1px solid #d5d5d5;
}

.subtitle {
  font-size: 1rem;
  text-transform: uppercase;
  // using this to compensate for the padding-left on .sidebar, so the border-bottom has spacing on both sides
  margin-top: 0.5rem;
  margin-right: 2rem;
  color: #999;
}

.active {
  button {
    color: #0074d9;
  }
}

.item {
  color: #999;
  button {
    font-size: 1rem;
    text-transform: capitalize;
  }
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 11.9375rem;
    border-right: 1px solid #e5e5e5;
    padding-top: 1rem;
    height: calc(100vh - 4.9375rem);
  }
  .title {
    border-bottom: none;
  }
  .subtitle {
  }
  .sidebar {
    display: block;
  }
  .categories {
    padding-left: 2rem;
  }
}
