.list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.item {
  border-radius: 1.875rem;
  border: 2px solid #d5d5d5;
  &:hover {
    border: 2px solid #0074d9;
    button {
      color: #0074d9;
    }
  }
  button {
    color: #5e6e89;
    padding: 0.375rem 1.25rem;
    text-transform: uppercase;
    font-size: 0.875rem;
  }
  &.active {
    border: 2px solid #0074d9;
    background: #0074d9;
    button {
      color: #fff;
    }
  }
}
