@import "../../styles/variables";
@import "../../styles/mixins";

.price {
  display: flex;
  align-items: center;
  min-width: 3.75rem;
}

.product {
  margin-top: 2.25rem;
}

.product-info {
  display: flex;
}

.product-title {
  font-size: 1.25rem;
  padding-right: 1rem;
}

.product-preview {
  width: 5.84625rem;
  max-height: 4.375rem;
  padding-right: 1rem;
}

.product-control {
  display: flex;
}

.product-remove {
  margin-right: auto;
  font-size: 1.125rem;
  line-height: 1.625rem;
  letter-spacing: -0.05625rem;
  text-decoration: underline;
  color: $primary;
}

.products-list {
  padding-bottom: 1.875rem;
  border-bottom: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .product-info {
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .product-info {
    justify-content: unset;
    align-items: center;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .wrapper-title {
    @extend .wrapper;
    justify-content: unset;
  }
}
