@import "../../styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.products {
  @include section();
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 2.5rem;
  color: #0b254b;
  margin-bottom: 1rem;
}

.description {
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: 0.1px;
  text-align: center;
  color: #5e6e89;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
